
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle">
    <h2>About</h2>
    <p>Established in 2017, MoxyTreasures carries a variety of jewelry, apparel and accesories sourced form indigenous and underrepresented peoples.</p>
    <p>These include a Guatemalan Women's group, Central and SouthAmerican crafters and Artisans from Indonesia and Thailand. Moxy Treasures brings one of a kind wearable art from around the world to you.</p>
</div>
 